// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.toppp{
    background-image: url("mk8dx.png");
    width: 100vw;
    height: 800px;
    background-repeat: no-repeat;
background-size: cover;
text-align : center;
display: flex;
display:flex;
  align-items: center;
  justify-content: center;	
    
    }

.toppp2{
    text-align : center;
}   

.toppp2 h1{
    font-size: 70px;
    
    }
    .toppp2 p{
    font-size: 30px;
    line-height: 80px;
    }

.toppp3{
    width: 100vw;
    height: 150%;
    text-align: center;
background-color: #F9FAE3;
}

.tweets-container{
    background-image: url("mkback.png");
    width: 100vw;
    background-size: cover;
    padding-top: 30px;
}



.tweetnew{
    margin-top: 160px;
    font-size: large;
    text-align: center;
}









.tweetnew h1{
margin-bottom: 20px;
}

.usercomment{
    margin-top: 50px;
}

.tweetshosai{
    margin-top: 50px;
}

.iine{
    margin-top: 50px;
}


.back{
    background-image: url("mkback.png");
    width: 100vw;
    background-size: cover;
    padding-top: 30px;
    }

